<footer class="mt-20 py-20">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col d-flex flex-column align-items-center">
                        <div>
                            <img class="img-fluid" src="../../image/wechat.png" />
                        </div>
                        <div class="mt-20 d-none d-lg-block">我的微信</div>
                    </div>
                    <div class="col d-none d-sm-flex flex-column align-items-center">
                        <div>
                            <img class="img-fluid" src="../../image/mp.png" />
                        </div>
                        <div class="mt-20">微信公众号</div>
                    </div>
                </div>
            </div>
            <div class="col-8 col-lg-4">
                <div>本站简介</div>
                <div class="mt-20">欢迎大家关注订阅号或加我微信与我一起聊聊技术，我只想帮助各位解决技术问题，或者被各位帮助解决技术问题。</div>
            </div>
            <div class="col-4 col-lg-4 d-none d-lg-block">
                <div>温馨提示</div>
                <div class="mt-20">转载请保留原文出处，网站所涉及内容均用于学习交流，不用于任何商业用途。如内容有错误，欢迎指出和发送到我的邮箱:292018748@qq.com
                </div>
                <div class="d-flex mt-50">
                    <div>备案号：</div>
                    <div>
                        <a target="_blank" href="http://www.beian.miit.gov.cn">桂ICP备16008091号-1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>