<header class="mb-10 mb-sm-20">
    <div class="top-navigation d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="slogan col-8">
                    书上得来终觉浅，绝知此事要躬行
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
    </div>
    <div class="header-navigation bg-white">
        <div class="container">
            <div class="row">
                <a href="/" class="logo col-2">
                    <div class="d-flex">
                        <div class="logo-img">
                            <img class="img-fluid" src="../../image/logo.png">
                        </div>
                        <h1 class="ml-20">365D1</h1>
                    </div>
                </a>
                <div class="col-1"></div>
                <div class="d-lg-none col-9">
                    <div class="d-flex justify-content-end align-items-center">
                        <div id="menu-btn">打开</div>
                    </div>
                </div>
                <div class="nav col-9 d-none d-lg-flex justify-content-end">
                    <div>
                        <a class="active" href="/">首页</a>
                    </div>
                    <div>
                        <a href="/">学习笔记</a>
                    </div>
                    <div>
                        <a href="/">前端开发</a>
                    </div>
                    <div>
                        <a href="/">后端开发</a>
                    </div>
                    <div>
                        <a href="/">移动端开发</a>
                    </div>
                    <div>
                        <a href="/">产品&运营</a>
                    </div>
                    <div>
                        <a href="/">服务器</a>
                    </div>
                    <div>
                        <a href="/">关于我</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="mobile-nav" style="display: none;" class="mobile-menu">
    <div class="menu">
        <div>
            <a class="active" href="/">首页</a>
        </div>
        <div>
            <a href="/">学习笔记</a>
        </div>
        <div>
            <a href="/">前端开发</a>
        </div>
        <div>
            <a href="/">后端开发</a>
        </div>
        <div>
            <a href="/">移动端开发</a>
        </div>
        <div>
            <a href="/">产品&运营</a>
        </div>
        <div>
            <a href="/">服务器</a>
        </div>
        <div>
            <a href="/">关于我</a>
        </div>
    </div>
</div>