<aside class="sidebar d-none d-sm-block">
    <div class="content-box">
        <div class="content-title">推荐栏目</div>
        <div class="content-main">
            <div class="top-cate d-flex flex-wrap">
                <div><a href="#">游戏辅助</a></div>
                <div><a href="#">日常学习</a></div>
                <div><a href="#">英语学习</a></div>
                <div><a href="#">摄影学习</a></div>
            </div>
        </div>
    </div>
    <div class="content-box mt-20">
        <div class="tabs d-flex">
            <div class="active">
                最新文章
            </div>
            <div>
                热门推荐
            </div>
            <div>
                点击排行
            </div>
        </div>
        <div class="content-main tabs-content">
            <div class="top-list">
                <div class="top-list-title">最新文章</div>
                <div class="top-list-item">
                    <div class="item d-flex">
                        <div class="thumb">
                            <img class="img-fluid"
                                src="https://www.365d1.com/upload/image/6c785ffae7539129f37559436754b0215912.png">
                        </div>
                        <div class="info flex-fluid d-flex flex-column justify-content-between align-items-stretch">
                            <h2>绝世妹子|测算</h2>
                            <div class="intro">2021-08-05 14:41:12</div>
                        </div>
                    </div>
                    <div class="item d-flex">
                        <div class="thumb">
                            <img class="img-fluid"
                                src="https://www.365d1.com/upload/image/6c785ffae7539129f37559436754b0215912.png">
                        </div>
                        <div class="info flex-fluid d-flex flex-column justify-content-between align-items-stretch">
                            <h2>绝世妹子|测算</h2>
                            <div class="intro">2021-08-05 14:41:12</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box mt-20">
        <div class="content-title">关于我</div>
        <div class="content-main">
            <div class="about-me">
                <div class="avatar float-left"><img class="face" src="../../image/face.jpg"></div>
                <h2 class="name">南宁·野猪佩奇</h2>
                <p class="intro">
                    大龄程序猿一只，目前任职CTO，担任过PHP工程师，Android工程师，Java工程师，前端工程师。平时喜欢追逐新技术，乐于通过技术实践，将一些创意和想法变为现实。
                </p>
            </div>
            <div class="d-flex social">
                <div>
                    <div class="icon qq"></div>
                </div>
                <div>
                    <div class="icon wechat"></div>
                </div>
                <div>
                    <div class="icon email"></div>
                </div>
                <div>
                    <div class="icon weibo"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-box mt-20">
        <div class="content-title">友情链接</div>
        <div class="content-main">

        </div>
    </div>
</aside>