@font-face {
  font-family: "iconfont"; /* Project id 1097411 */
  src: url("../font/iconfont.woff2?t=1627402331838") format("woff2"),
    url("../font/iconfont.woff?t=1627402331838") format("woff"),
    url("../font/iconfont.ttf?t=1627402331838") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzuixinnew3:before {
  content: "\e838";
}

.iconziyuan:before {
  content: "\e609";
}

.iconhanhan-01-01:before {
  content: "\e686";
}

.iconicon:before {
  content: "\e652";
}

.iconpinglun:before {
  content: "\e603";
}

.iconwenzhang:before {
  content: "\e624";
}

.iconbiaoqian:before {
  content: "\e67e";
}

.iconyemianpeizhi:before {
  content: "\e61f";
}

.iconxinjian:before {
  content: "\e650";
}

.iconzhuti:before {
  content: "\e626";
}

.iconfujian:before {
  content: "\e66e";
}

.iconyingyong:before {
  content: "\e768";
}

.iconchajian1:before {
  content: "\e69d";
}

.iconyonghu:before {
  content: "\e607";
}

.iconpingtai_mokuai:before {
  content: "\e65e";
}
