<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>365D1</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="292018748@qq.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>

<body>
    <div class="wrapper">
        <%= require('./component/header.html') %>
            <section class="container d-flex justify-content-between align-items-start">
                <article class="article-detail content-box px-10">
                    <h1 class="article-detail-title pt-10 p-lg-20 m-0">绝世美姿 | 规范脊椎姿势</h1>
                    <div class="article-detail-time d-flex pt-10 px-lg-20">
                        <div class="mr-10 mr-lg-20">摄影学习</div>
                        <div class="mr-10 mr-lg-20">2021-07-04 00:13:18</div>
                        <div class="mr-10 mr-lg-20">浏览 68</div>
                    </div>
                    <div class="article-detail-intro mx-20 mt-30 d-none d-lg-block">
                        世上并没有用来鼓励工作努力的赏赐，所有的赏赐都只是被用来奖励工作成果的。
                    </div>
                    <div class="article-detail-content content-main pt-20">
                        世上并没有用来鼓励工作努力的赏赐，所有的赏赐都只是被用来奖励工作成果的。世上并没有用来鼓励工作努力的赏赐，所有的赏赐都只是被用来奖励工作成果的。世上并没有用来鼓励工作努力的赏赐，所有的赏赐都只是被用来奖励工作成果的。
                    </div>
                </article>
                <%= require('./component/sidebar.html') %>
            </section>
            <%= require('./component/footer.html') %>
    </div>
</body>

</html>