<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <title>365D1</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="292018748@qq.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="top-navigation">
                <div class="container">
                    <div class="row">
                        <div class="slogan col-8">
                            书上得来终觉浅，绝知此事要躬行
                        </div>
                        <div class="col-4">
                            Column
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-navigation bg-white"></div>
        </header>
        <section class="container mt-3">
            <div class="row">
                <article class="col-8">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </article>
                <aside class="col-4">2</aside>
            </div>
        </section>
        <footer class="mt-3 pt-3 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col">
                                <div>
                                    <img src="../image/wechat.png" />
                                </div>
                                <div></div>
                            </div>
                            <div class="col">2</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>本站简介</div>
                        <div class="mt-3">欢迎大家关注订阅号或加我微信与我一起聊聊技术，我只想帮助各位解决技术问题，或者被各位帮助解决技术问题。</div>
                    </div>
                    <div class="col-4">
                        <div>温馨提示</div>
                        <div class="mt-3">转载请保留原文出处，网站所涉及内容均用于学习交流，不用于任何商业用途。如内容有错误，欢迎指出和发送到我的邮箱:292018748@qq.com</div>
                        <div class="d-flex mt-5">
                            <div>备案号：</div>
                            <div>
                                <a target="_blank" href="http://www.beian.miit.gov.cn">桂ICP备16008091号-1</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>